.paragraph {
    font-size: 15px;
    line-height: 1.15;
    margin-bottom: 8px;
}

.contacts {
    width: 100%;
    padding: 0;
    margin: 10px 0 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(8, minmax(10px, 35px));
    column-gap: 2%;
}

.contacts__item {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.contacts__item:hover {
    transform: scale(1.07);
    transition: .3s;
}

.contacts__item:last-of-type {
    margin-right: 0;
}

.contacts__link {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.instagram {
    background-image: url('../../../assets/images/social-logo/instagram.jpg');
}

.facebook {
    background-image: url('../../../assets/images/social-logo/facebook.jpg');
}

.github {
    background-image: url('../../../assets/images/social-logo/github.png');
}

.mainLink, .website {
    background-image: url('../../../assets/images/social-logo/my_website.png');
}

.twitter {
    background-image: url('../../../assets/images/social-logo/twitter.jpg');
}

.vk {
    background-image: url('../../../assets/images/social-logo/VK_Logo.png');
}

.youtube {
    background-image: url('../../../assets/images/social-logo/youtube.png');
}