.friend {
    cursor: pointer;
}

.friend:hover .avatar_container {
    cursor: pointer;
    transform: scale(1.05);
}

.friend__name {
    margin: 0 auto;
    font-size: .4em;
    width: fit-content;
}

.avatar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 90%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.avatar {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    position: absolute;
}