.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-gap: 15px;
}

.dialogs_container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100vh;
    border-right: 2px solid rgb(214, 212, 212);
}

.dialog {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.dialog a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3em;
    color: inherit;
    width: 100%;
}

.dialog:hover {
    background-color: #cdcdce;
}

.message {
    font-size: 1.1em;
    padding: 4px 0;
    margin: 0;
}