ul.pagination {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0;
    margin: 0;
}

.pagination:last-of-type {
    padding-bottom: 20px;
}

ul.pagination li {
    display: block;
}

ul.pagination li span {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li span.active {
    background-color:  #6183aa;
    color: white;
    border-radius: 5px;
}

ul.pagination li span:hover:not(.active) {
    background-color: rgb(201, 200, 200);
    cursor: pointer;
}